
@model Sparepart.Models.fpsheader
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Permintaan Sparepart
    </h1>
</section>

<section class="content container-fluid">

    @*DELETE FPS*@
    <div id="modalWindow">
        <h3 class="text-center">Delete this record?</h3>
        <div class="pull-left">
            <button id="yes" class="k-button">Yes</button>
        </div>
        <div class="pull-right">
            <button id="no" class="k-button">No</button>
        </div>
    </div>

    @*DETAIL FPS*@
    @(Html.Kendo().Window()
            .Name("FPSDetailWindow")
            .Title("Detail Permintaan Sparepart")
            .Content(
            @<text>

            </text>)
                    .Visible(false)
                    .Draggable()
                    .Resizable()
                    .Width(1000)
                    .Actions(actions => actions.Pin().Minimize().Maximize().Close())
                    .Events(ev => ev.Close("onClose"))
    )

    @*UPDATE FPS MASTER WINDOW*@
    @(Html.Kendo().Window()
            .Name("FPSUpdateWindow")
            .Title("Edit Permintaan Sparepart")
            .Content(

            @<text>

            </text>)
                    .Visible(false)
                    .Draggable()
                    .Resizable()
                    .Width(700)
                    .Height(600)
                    .Actions(actions => actions.Pin().Minimize().Maximize().Close())
                    .Events(ev => ev.Close("onClose"))
    )

    @*CREATE MASTER - MUTASI*@
    @(Html.Kendo().Window()
            .Name("WindowCreateMasterMutasi")
            .Title("Tambah Permintaan - Mutasi")
            .Content(

            @<text>
            </text>)
                    .Visible(false)
                    .Modal(true)
                    .Draggable()
                    .Resizable()
                    .Width(700)
                    .Height(600)
                    .Actions(actions => actions.Pin().Minimize().Maximize().Close())
                    .Events(ev => ev.Close("onClose"))
    )

    @*CREATE MASTER - PERBAIKAN*@
    @(Html.Kendo().Window()
            .Name("WindowCreateMasterPerbaikan")
            .Title("Tambah Permintaan - Perbaikan")
            .Content(

            @<text>
            </text>)
                    .Visible(false)
                    .Modal(true)
                    .Draggable()
                    .Resizable()
                    .Width(700)
                    .Height(600)
                    .Actions(actions => actions.Pin().Minimize().Maximize().Close())
                    .Events(ev => ev.Close("onClose"))
    )


    @*MASTER GRID*@
    @(Html.Kendo().Grid<Sparepart.Models.fpsheader>()

            .Name("MasterGrid")
            .Columns(columns =>
            {
                columns.Bound(p => p.FPSID).Visible(false);
                columns.Bound(p => p.NoTicket);
                columns.ForeignKey(p => p.CabangID, (System.Collections.IEnumerable)ViewData["Cabang"], "CabangID", "NamaCabang")
                .Title("Cabang").Width(200);
                columns.ForeignKey(p => p.UnitID, (System.Collections.IEnumerable)ViewData["Unit"], "UnitID", "NamaUnit")
                .Title("Unit").Width(200);
                columns.ForeignKey(p => p.TokoID, (System.Collections.IEnumerable)ViewData["Toko"], "TokoID", "NamaToko")
                .Title("Toko").Width(200);
                columns.Bound(p => p.NamaPemohon);
                columns.Bound(p => p.NIKPemohon);
                columns.Bound(p => p.JenisFPS);
                columns.Bound(p => p.Approval);
                columns.Command(commands =>
                {
                    commands.Custom("Edit").Click("EditWindow");
                    commands.Custom("Detail").Click("DetailWindow");
                    commands.Custom("Delete").Click("DeleteWindow");
                }).Title("Commands").Width(500);
            })
            .ToolBar(toolbar =>
            {
                toolbar.Template("<a class='k-button k-button-icontext k-grid-add' href='#' id='crmutasi'>FPS - Mutasi</a>" +
                "<a class='k-button k-button-icontext k-grid-add' href='#' id='crperbaikan'>FPS - Perbaikan</a>");
            }
                )
            .Sortable()
            .Pageable(pageable => pageable
            .Input(true)
            .Numeric(true)
            .Info(true)
            .PreviousNext(true)
            .Refresh(true)
            .ButtonCount(5)
            )
            .Filterable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Read", "FPS"))
            .ServerOperation(false)
            .Model(model =>
            {
                model.Id(u => u.FPSID);
                model.Field(u => u.FPSID).Editable(false);
            })
            )

    )

</section>

<style>
    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }
</style>

<script type="text/javascript">

    $(function () {
        $("#WindowCreateMasterMutasi").data("kendoWindow").close();
        $("#WindowCreateMasterPerbaikan").data("kendoWindow").close();
    });

    function onClose() {
        $("#crmutasi").show();
        $("#crperbaikan").show();
    }

    /*Detail Window*/
    function DetailWindow(e) {
        e.preventDefault();
        var row = $(e.target).closest("tr");
        var grid = $("#MasterGrid").data("kendoGrid");
        var dat = grid.dataItem(row);
        var pId = dat.FPSID;

        var myWin = $("#FPSDetailWindow").kendoWindow({

            modal: true,
            width: "450px",
            height: "250px",
            resizable: true,
            position: {
                top: 400,
                left: 650
            },
            title: "Detail Permintaan Sparepart",
            content: {
                url: '@Url.Action("FPSDetailWindow", "Window")',
                data: { FPSID: pId }
            },
            refresh: function () { this.center(); }

        });
        myWin.data("kendoWindow").open();
        return false;
    }

    /*Delete Window*/
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });

    function DeleteWindow(e) {
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        wnd.center().open();

        $("#yes").click(function () {
            var selrow = $(e.target).closest("tr");
            var selgrid = $("#MasterGrid").data("kendoGrid");
            var seldata = selgrid.dataItem(selrow);
            var pId = seldata.FPSID;
            $.ajax({
                url: '@Url.Action("Destroy", "FPS")',
                data: { FPSID: pId },
                type: "post"
            });
            grid.removeRow(row);
            wnd.close();
            window.location.reload(true);
        });

        $("#no").click(function () {
            wnd.close();
        });
    }

    /*Edit Window*/
    function EditWindow(e) {
        e.preventDefault();
        var row = $(e.target).closest("tr");
        var grid = $("#MasterGrid").data("kendoGrid");
        var dat = grid.dataItem(row);
        var pId = dat.FPSID;

        var myWin = $("#FPSUpdateWindow").kendoWindow({

            modal: true,
            width: "450px",
            height: "250px",
            resizable: true,
            position: {
                top: 400,
                left: 650
            },
            title: "Edit Perbaikan Barang",
            content: {
                url: '@Url.Action("FPSEditMasterWindow", "Window")',
                data: { FPSID: pId }
            }

        });
        myWin.data("kendoWindow").open().center();
        return false;
    }

    /*Create Window*/
    $(document).ready(function () {
        $("#crmutasi").bind("click", function () {
            var myWin = $("#WindowCreateMasterMutasi").kendoWindow({

                modal: true,
                width: "450px",
                height: "250px",
                resizable: true,
                position: {
                    top: 400,
                    left: 650
                },
                title: "Permintaan Sparepart - Mutasi",
                content: {
                    url: '@Url.Action("FPSCreateMasterMutasi", "Window")'
                }

            });
            myWin.data("kendoWindow").open().center();
            return false;
        });

        $("#crperbaikan").bind("click", function () {
            var myWin = $("#WindowCreateMasterPerbaikan").kendoWindow({

                modal: true,
                width: "450px",
                height: "250px",
                resizable: true,
                position: {
                    top: 400,
                    left: 650
                },
                title: "Permintaan Sparepart - Perbaikan",
                content: {
                    url: '@Url.Action("FPSCreateMasterPerbaikan", "Window")'
                }

            });
            myWin.data("kendoWindow").open().center();
            return false;
        });
    });

    function TokoData_CreateMasterPerbaikan() {
        return {
            text: $("#Toko_CreateMasterPerbaikan").data("kendoDropDownList").filterInput.val()
        };
    }

    function UnitData_CreateMasterMutasi() {
        return {
            text: $("#Unit_CreateMasterMutasi").data("kendoDropDownList").filterInput.val()
        };
    }
    function CabangData_CreateMasterMutasi() {
        return {
            text: $("#Cabang_CreateMasterMutasi").data("kendoDropDownList").filterInput.val()
        };
    }

    function TokoData_EditMasterPerbaikan() {
        return {
            text: $("#Toko_EditMasterPerbaikan").data("kendoDropDownList").filterInput.val()
        };
    }

    function UnitData_EditMasterMutasi() {
        return {
            text: $("#Unit_EditMasterMutasi").data("kendoDropDownList").filterInput.val()
        };
    }
    function CabangData_EditMasterMutasi() {
        return {
            text: $("#Cabang_EditMasterMutasi").data("kendoDropDownList").filterInput.val()
        };
    }

    function BarangData_CreateDetailPerbaikan() {
        return {
            text: $("#Barang_CreateDetailPerbaikan").data("kendoDropDownList").filterInput.val()
        };
    }

    function BarangData_CreateDetailMutasi() {
        return {
            text: $("#Barang_CreateDetailMutasi").data("kendoDropDownList").filterInput.val()
        };
    }

    function BarangData_EditDetailPerbaikan() {
        return {
            text: $("#Barang_EditDetailPerbaikan").data("kendoDropDownList").filterInput.val()
        };
    }

    function BarangData_EditDetailMutasi() {
        return {
            text: $("#Barang_EditDetailMutasi").data("kendoDropDownList").filterInput.val()
        };
    }

    function onGridDataBound(e) {
        $('#masterunit script').appendTo(document.body);
        $('#mastercabang script').appendTo(document.body);
        $('#masterbarang script').appendTo(document.body);
        $('#mastertoko script').appendTo(document.body);
    }

</script>