@model Sparepart.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <h4>Manage your account settings</h4>
</section>

<section class="content container-fluid">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>Username:</dt>
            <dd>
                @Html.DisplayFor(m => m.UserName)
            </dd>
            <dt>Nama User:</dt>
            <dd>
                @Html.DisplayFor(m => m.NamaUser)
            </dd>
            <dt>Email:</dt>
            <dd>
                @Html.DisplayFor(m => m.Email)
            </dd>
            <dt>Role:</dt>
            <dd>
                @if (Model.UserRoles != null)
                {
                    @Html.DisplayFor(m => m.UserRoles)
                }
                else
                {
                    @Html.Label("SuperAdmin")
                }
            </dd>
            <dt>Cabang:</dt>
            <dd>
                @if (Model.UserCabang != null)
                {
                    @Html.DisplayFor(m => m.UserCabang)
                }
                else
                {
                    @Html.Label("-")
                }
            </dd>
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</section>
