@model Sparepart.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

@*<h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter your email.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Email Link" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    @*<link rel="icon" type="image/png" href="~/Content/Login_v3/images/icons/favicon.ico" />*@
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/css/util.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/css/main.css">
    <!--===============================================================================================-->
    <style type="text/css">
        /* Styles for validation helpers*/
        .text-white {
            color: #ffffff;
            font-size: 15px;
        }
    </style>
</head>
<body>


    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "limiter", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="limiter">
            <div class="container-login100" style="background-image: url('/Content/Login_v3/images/bg-01.jpg');">
                <div class="wrap-login100">
                    <form class="login100-form validate-form">
                        <span class="login100-form-logo">
                            <i class="zmdi zmdi-landscape"></i>
                        </span>

                        <span class="login100-form-title p-b-34 p-t-27">
                            Forgot Password
                        </span>

                        @Html.ValidationSummary(true, "", new { @class = "text-white" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-white" })
                        <div class="wrap-input100 validate-input" data-validate="Enter username">
                            @Html.TextBoxFor(m => m.Email, new { @class = "input100", placeholder = "Email" })
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <input class="btn btn-light btn-lg" type="submit" value="Email Link" />
                        </div>
                        <br />
                        <div class="container-login100-form-btn">
                            <input class="btn btn-light btn-lg" type="button" value="Back" id="textButton" />
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div id="dropDownSelect1"></div>
    }
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/bootstrap/js/popper.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/daterangepicker/moment.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/js/main.js"></script>

</body>
</html>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#textButton").bind("click", function () {
                window.location = '@Url.Action("Login", "Account")';
            });
        });

    </script>
}