@model Sparepart.Models.FPSDetailCreateViewModel
<form action="/FPS/Create_Window_Detail_Create" method="post" id="myFPSDetailformMutasi">
    <ul class="fieldlist">
        @Html.AntiForgeryToken()
        <li>
            @Html.Label("Nama Barang")
            @(Html.Kendo().DropDownListFor(m => m.KodeBarangTipe)
            .Name("Barang_CreateDetailMutasi")
            .OptionLabel("Select Barang")
            .DataTextField("NamaBarang")
            .DataValueField("KodeBarangTipe")
            .HtmlAttributes(new { id = "Barang_CreateDetailMutasi" })
            .Filter(FilterType.Contains)
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetBarang", "Barang")
                    .Data("BarangData_CreateDetailMutasi");
                });
            })
            )
        </li>
        <li>
            @Html.Label("Quantity")
            @Html.Kendo().NumericTextBoxFor(m => m.Quantity).Name("quantity").HtmlAttributes(new { style = "width: 50%;", placeholder = "0.00", required = "required", validationmessage = "Input Quantity" , id = "InputQuantity" })
        </li>
        <li>
            @Html.Label("Keterangan")
            @Html.Kendo().TextBoxFor(m => m.Keterangan).Name("keterangan").HtmlAttributes(new { style = "width: 100%;", placeholder = "Keterangan", required = "required", validationmessage = "Input Keterangan" , id = "InputKeterangan" })
        </li>
        <li>
            <input class="k-button k-primary" style="margin-top: 2em; float: left;" value="Insert" id="submit" type="submit">
        </li>
    </ul>
</form>

<script>
    $(document).ready(function () {
        
        $('#myFPSDetailformMutasi').submit(function (event) {
        var model = {
            KodeBarangTipe: $("#Barang_CreateDetailMutasi").val(),
            Quantity: $("#InputQuantity").val(),
            Keterangan: $("#InputKeterangan").val(),
        };
        var token = $('input[name=__RequestVerificationToken]').val();
        $.ajax({
            type: "post",
            headers: {
                "__RequestVerificationToken": token
            },
            data: JSON.stringify(model),
            url: '@Url.Action("Create_Window_Detail_Create", "FPS")',
            dataType: "json",
            contentType: "application/json",

            success: function (response) {
                if (response.success) {
                    alert(response.responseText);
                    $("#WindowCreateDetailMutasi").data("kendoWindow").close();
                    $('#DetailGridMutasi').data("kendoGrid").dataSource.read();
                    $('#DetailGridMutasi').data("kendoGrid").refresh();
                } else {
                    alert(response.responseText);
                    location.reload(true);
                }
            },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
            
        event.preventDefault();
    });

});

    function BarangData_CreateDetailMutasi() {
        return {
            text: $("#Barang_CreateDetailMutasi").data("kendoDropDownList").filterInput.val()
        };
    }

    function onGridDataBound(e) {
        $('#masterbarang script').appendTo(document.body);
    }

</script>
